$fontLight: #e5e5e5;
$fontGray: #6d6c6c;
$gold: #e1cc8f;
$fontGoldCream: #d2be8d;
$watermark: #e1cc8f1f;

a {
	text-decoration: none;
	color: $fontGray;
}
a:hover {
	color: $fontLight;
}

.header {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px 80px;

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			color: $fontGoldCream;
		}

		.unorderedList {
			list-style-type: none;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			& * {
				font-size: 0.9rem;
				padding: 30px;

				.link {
					color: $fontLight;
					padding: 8px 20px;
					border: 1px solid transparent;

					&:hover {
						padding: 8px 20px;
						color: $gold;
						border: 1px solid $fontGray;
						border-radius: 20px;
						box-shadow: 5px 5px 20px black, -5px -5px 10px dimgray;
					}
					&:focus {
						outline: transparent !important;
						color: $gold;
						border: 1px solid $fontGray;
						border-radius: 20px;
						box-shadow: -5px -5px 20px black, 5px 5px 10px dimgray;
					}
				}
				.active {
					padding: 8px 20px;
					color: $gold;
					border: 1px solid $fontGray;
					border-radius: 20px;
					box-shadow: -5px -5px 20px black, 5px 5px 10px dimgray;
				}
			}
		}
	}
}
